{% load socialaccount %}
{% providers_media_js %}

<div class="pop-up">
  <div class="overlay-pop-up"></div>
  <div class="pop-up-block">
      <div class="text-center login">
        <p class="text-in">Sign In</p>
        <form action="" method="POST" class="login-register-form">
          {% csrf_token %}
          <div class="alert-danger"></div>
          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Login:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="Username" name="login"><br>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
          </div>
          <div style="margin: 20px 0">
            <button type="submit" class="btn btn-primary" id="btn-login">Enter</button>
          </div>
        </form>

        <div class="social-login" style="margin-bottom: 20px;">
          <div class="facebook_login">
            <a href="{% provider_login_url 'facebook' method='js_sdk' %}">Login with Facebook</a>
          </div>
          <div class="instagram_login">
            <a href="{% provider_login_url 'instagram' method='oauth2' %}">Login with Instagram</a>
          </div>
        </div>

        <p class="not_yet_registered">not yet registered?</p>
        <span href="#" class="button_registration">Registration</span>
      </div>

      <div class="registration">
        <p class="text-in">Registration</p>
        <form action="" method="POST" class="login-register-form">
          {% csrf_token %}
          <div class="alert-danger error-username"></div>
          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Username:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="Username" name="username"><br>
            </div>
          </div>

          <div class="alert-danger error-email"></div>
          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">E-mail:</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" placeholder="E-mail" name="email"><br>
            </div>
          </div>

          <div class="alert-danger error-first_name"></div>
          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="Name" name="first_name"><br>
            </div>
          </div>

          <div class="alert-danger error-last_name"></div>
          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Surname:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="Surname" name="last_name"><br>
            </div>
          </div>

          <div class="alert-danger error-password2"></div>
          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" placeholder="Password" name="password1"><br>
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Confirm password:</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" placeholder="Confirm password" name="password2"><br>
            </div>
          </div>

          <div class="text-center" style="margin-top: 20px;">
            <button type="submit" class="btn btn-primary" id="btn-registration">Enter</button>
          </div>
        </form>
      </div>
  </div>


  <div>
</div>
