<template>
	<ul v-show="categories" v-on:keyup.enter="scalePiechart" class="piechart" id="piechart" style="background-color: #333;">
		<li><a href="#"><b><span v-bind:style="{
			'background-image': 'url(' + arrow_url + ')',
			'background-size': '60%',
			'background-position': '0% 55%',
			'background-repeat': 'no-repeat',
			'transform': 'rotate(110deg)'
			}"></span></b></a>
		</li>

		<li v-for="category in mainCategories" class="category-item" v-bind:key="category.id">
			<a href="#"><b><span v-bind:data-id="category.id">{{ category.name }}</span></b></a>
		</li>
<!--		<li><a href="#"><b><span>Category1</span></b></a></li>-->
<!--		<li><a href="#"><b><span>Category2</span></b></a></li>-->
<!--		<li><a href="#"><b><span>Category3</span></b></a></li>-->
<!--		<li><a href="#"><b><span>Category4</span></b></a></li>-->
<!--		<li><a href="#"><b><span>Category5</span></b></a></li>-->
<!--		<li><a href="#"><b><span>Category6</span></b></a></li>-->
<!--		<li><a href="#"><b><span>Category7</span></b></a></li>-->
<!--		<li><a href="#"><b><span>Category8</span></b></a></li>-->
		<li v-bind:style="{
			'background-image': 'url(' + arrow_url + ')',
			'background-size': '100%',
			'background-position': '50%',
			'background-repeat': 'no-repeat'
			}">
		</li>
	</ul>
</template>

<script>
    import axios from "axios";

    export default {
        name: "category-menu",
        data: () => {
            return {
                categories: null,
                breadcrumbs: [],
                firstLoaded: true,
				arrow_url: "'src/images/arrow.svg'",
				scaled: true,
				currentCountCategories: null
            }
        },

        beforeMount() {
            axios
                .get("http://127.0.0.1:8000/api/categories?limit=9999")
                .then(response => {this.categories = response.data.results;});
        },

		updated: function() {
        	let categories = document.getElementsByClassName("category-item");
        	for (let i in categories) {
        		if (categories[i].style) {
					categories[i].style.transform = "rotate(" + this.getRotateAngle(i) + "deg) skewY(-47deg)";
					categories[i].style.transformOrigin = "0 " + categories[i].style.transform-origin + 100;
				}
			}
		},

		mounted: function () {
        	this.rotateText();
        	// Не забыть разкоментировать!
        	// document.getElementById("piechart").style.transform = "scale(0.3)";

            document.body.onkeydown = function (e) {
            	if(e.keyCode == 81) {
					if (!this.scaled) {
						let element = document.getElementById("piechart");
						//element.style.transform = "scale(0.3)";
						//element.style.margin = "0 0";
						this.scaled = true;
					} else {
						let element = document.getElementById("piechart");
						element.style.transform = "scale(1) rotate(-20deg)";
						element.style.margin = "0 auto";
						this.scaled = false;
					}
				}
            }
		},

        computed: {
            mainCategories() {
                if (this.categories && this.firstLoaded) {
                	return [{"name": "category1", "id": 1}, {"name": "category2", "id": 2}];
                    let filtered = this.categories.filter(data => {
                        return data.parent_id == null; //&& data.parent_id === null;
                    });
                    this.firstLoaded = false;
                    this.currentCountCategories = Object.keys(filtered).length;

                    return filtered
                }
            }
        },

        methods: {
        	getRotateAngle: function(index) {
				console.log(index);
				return (360 / (this.currentCountCategories + 1)) * (parseInt(index) + 1);

			},
            getCategoryChildrenNames: (obj, breadcrumbs) => {
	            if (breadcrumbs.length == 0) {
		            return a.forEach((elem, i) => {
		                a[i] = elem.name;
		            });
	            }
	            return this.getCategoryChildrenNames(obj.filter(i => i.name == breadcrumbs[0])[0].children, breadcrumbs.slice(1,));
            },
            displayCurrentCategories : () => {

            },
			rotateText: function() {
            	let spans = Array.from(document.getElementsByTagName("span"));
				for (let i in spans) {
					let rotateOn =  "rotate(290deg)";
					if (i*45 > 180) {
						spans[i].style.transform = "rotate(110deg)"
					}
					else if (i == 0) {
					}
					else {
						spans[i].style.transform = rotateOn;
					}
				}
			}
        }
    }
</script>

<style>
	ul.piechart {
	padding: 0;
	list-style: none;
	margin: 0 auto;
	width: 340px;
	height: 340px;
	overflow: hidden;
	border: 2px solid white;
	border-radius: 320px;
	position: relative;
	transition: 1s;
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	-ms-transform:rotate(-20deg);
	-o-transform:rotate(-20deg);
	transform:rotate(-20deg);
}

ul.piechart li {
	width: 300px;
	height: 310px;
	background: transparent;
	position: absolute;
	left: 170px;
	top: -130px;
	overflow: hidden;
	-webkit-transform-origin:0 300px;
	-moz-transform-origin:0 300px;
	-ms-transform-origin:0 300px;
	-o-transform-origin:0 300px;
	transform-origin:0 300px;
}

ul.piechart li b {
	-webkit-transform: skewY(50deg);
	-moz-transform: skewY(50deg);
	-ms-transform: skewY(50deg);
	-o-transform: skewY(50deg);
	transform: skewY(50deg);
}

ul.piechart li:nth-child(1) {
	-webkit-transform: skewY(-47deg);
	-moz-transform: skewY(-47deg);
	-ms-transform: skewY(-47deg);
	-o-transform: skewY(-47deg);
	transform: skewY(-47deg);
}

/*ul.piechart li:nth-child(2) {*/
/*	-webkit-transform:rotate(40deg) skewY(-47deg);*/
/*	-moz-transform:rotate(40deg) skewY(-47deg);*/
/*	-ms-transform:rotate(40deg) skewY(-47deg);*/
/*	-o-transform:rotate(40deg) skewY(-47deg);*/
/*	transform:rotate(40deg) skewY(-47deg);*/
/*}*/

/*ul.piechart li:nth-child(3) {*/
/*	-webkit-transform:rotate(80deg) skewY(-47deg);*/
/*	-moz-transform:rotate(80deg) skewY(-47deg);*/
/*	-ms-transform:rotate(80deg) skewY(-47deg);*/
/*	-o-transform:rotate(80deg) skewY(-47deg);*/
/*	transform:rotate(80deg) skewY(-47deg);*/
/*}*/

/*ul.piechart li:nth-child(4) {*/
/*-webkit-transform:rotate(120deg) skewY(-47deg);*/
/*-moz-transform:rotate(120deg) skewY(-47deg);*/
/*-ms-transform:rotate(120deg) skewY(-47deg);*/
/*-o-transform:rotate(120deg) skewY(-47deg);*/
/*transform:rotate(120deg) skewY(-47deg);*/
/*}*/

/*ul.piechart li:nth-child(5) {*/
/*-webkit-transform:rotate(160deg) skewY(-47deg);*/
/*-moz-transform:rotate(160deg) skewY(-47deg);*/
/*-ms-transform:rotate(160deg) skewY(-47deg);*/
/*-o-transform:rotate(160deg) skewY(-47deg);*/
/*transform: rotate(160deg) skewY(-47deg);*/
/*}*/

/*ul.piechart li:nth-child(6) {*/
/*-webkit-transform:rotate(200deg) skewY(-47deg);*/
/*-moz-transform:rotate(200deg) skewY(-47deg);*/
/*-ms-transform:rotate(200deg) skewY(-47deg);*/
/*-o-transform:rotate(200deg) skewY(-47deg);*/
/*transform:rotate(200deg) skewY(-47deg);*/
/*}*/

/*ul.piechart li:nth-child(7) {*/
/*-webkit-transform:rotate(240deg) skewY(-47deg);*/
/*-moz-transform:rotate(240deg) skewY(-47deg);*/
/*-ms-transform:rotate(240deg) skewY(-47deg);*/
/*-o-transform:rotate(240deg) skewY(-47deg);*/
/*transform:rotate(240deg) skewY(-47deg);*/
/*}*/

/*ul.piechart li:nth-child(8) {*/
/*-webkit-transform:rotate(280deg) skewY(-47deg);*/
/*-moz-transform:rotate(280deg) skewY(-47deg);*/
/*-ms-transform:rotate(280deg) skewY(-47deg);*/
/*-o-transform:rotate(280deg) skewY(-47deg);*/
/*transform:rotate(280deg) skewY(-47deg);*/
/*}*/

/*ul.piechart li:nth-child(9) {*/
/*-webkit-transform:rotate(320deg) skewY(-47deg);*/
/*-moz-transform:rotate(320deg) skewY(-47deg);*/
/*-ms-transform:rotate(320deg) skewY(-47deg);*/
/*-o-transform:rotate(320deg) skewY(-47deg);*/
/*transform:rotate(320deg) skewY(-47deg);*/
/*}*/

ul.piechart li:nth-child(1) b,
ul.piechart li:nth-child(2) b,
ul.piechart li:nth-child(3) b,
ul.piechart li:nth-child(4) b,
ul.piechart li:nth-child(5) b,
ul.piechart li:nth-child(6) b,
ul.piechart li:nth-child(7) b,
ul.piechart li:nth-child(8) b,
ul.piechart li:nth-child(9) b {
	display: block;
	width: 335px;
	height: 335px;
	border-radius: 300px;
	position: absolute;
	left: -150px;
	top: 150px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}

ul.piechart li:last-child {
	width: 100px;
	height: 100px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
	border-radius: 200px;
	transform: rotate(20deg);
	background: #fff;
	position: absolute;
	left: 35px;
	top: 90px;
	cursor: pointer;
}

ul.piechart li b {
	background: #000;
	color: white;
}
ul.piechart li {
	border: 2px solid white;
}

ul.piechart li a b span {
	position: absolute;
	left: 155px;
	top: 40px;
	border: 0;
	-webkit-transform:rotate(20deg);
	-moz-transform:rotate(20deg);
	-ms-transform:rotate(20deg);
	-o-transform:rotate(20deg);
	transform:rotate(20deg);
}

ul.piechart li:first-child a b span {
	width: 100px;
	height: 100px;
	left: 140px;
	top: 20px;
}

ul.piechart li a:hover b {
	background: #F47031;
	z-index: -1;
}
</style>