<li>
    <a href="{% url 'products:products_from_category' category.id %}">{{ category.name }}</a>

{% if childrens %}
  <ul>
    {% for child in category.children.all %}
      {% include "categories/category.html" with category=child childrens=child.children.all %}
    {% endfor %}
  </ul>
{% endif %}
</li>
