
body {
  margin: 0;
  padding: 0;
}

.head-text {
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #ccc;
  border-radius: 150px;
  padding-top: 20px;
  text-align: center;
}

.head-text>a {
  font-size: 160px;
  font-family: sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  color: #551a8b;
  text-decoration: none;
}

.main-container {
  margin: auto;
  width: 80%;
  margin-top: 50px;
}

.main-container>a {
  color: black;
}

.head-text>a:hover {
  color: #551a8b;
  cursor: pointer;
  text-decoration: none;
}

.sf-menu {
  display: inline-block;
  float: none;
  margin: 0;
}

.categories {
  text-align: center;
  width: 1080px;
  margin: auto;
}

.search-form {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#search {
  font-size: 20px;
  width: 380px;
}

.search-form>form>button {
  margin-left: 10px;
  outline: none;
  border: none;
  background-color: #ccc;
  color: white;
  font-size: 20px;
  font-weight: 700;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.search-form>form>button:hover {
  box-shadow: 0 0 10px 5px  #bdd2ff;
  color: #185df1;
}

.search-form>form>input:first-child {
  padding: 3px;
}

.search-form>form>input:first-child:hover, .search-form>form>input:first-child:focus {
  border: none;
  outline: none;
  color: #185df1;
  box-shadow: 0 0 10px 5px  #bdd2ff;
  height: 40px;
  width: 278px;
  box-sizing: border-box;
}

.ac-results {
  border: 1px solid #ccc;
  margin-right: 70px;
  padding: 0 10px;
  padding-top: 16px;
}

.text-choose-category {
  margin: 50px auto;
  width: 80%;
  text-align: center;
  font-size: 60px;
  color: #aaa;
}

.not-found-products {
  margin: 50px auto;
  width: 80%;
  text-align: center;
  font-size: 60px;
  color: #444;
}

/* filters */
.filters-products {
  display: flex;
}

#btn-filter {
  margin-top: 8px;
}

#slider-range {
  margin: 0 10px;
  margin-bottom: 10px;
}

.filters {
  width: 390px;
  margin-left: 16px;
  margin-top: 20px;
  height: 80vh;
}

.filter-container {
  border: 2px solid #ddd;
  padding: 5px;
  overflow-y: auto;
}
/* end filters */

/* card style */
.slick-slide {
  padding: 0 5px;
  height: 210px; /* this is required for normal working slick */
  object-fit: contain;
}

.title>a {
  min-height: 48px;
  display: block;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 10px;
  width: 720px;
}

.card {
  margin: 5px;
  border-radius: 20px;
  background-color: #ccc;
  width: 220px;
  text-align: center;
}

.images {
  width: 220px;
  min-height: 210px;
}

.prices {
  margin-top: 20px;
}

.all-offers {
  margin-top: 30px;
  display: block;
  text-decoration: none;
  color: black;
}

.all-offers:hover {
  text-decoration: underline;
  color: black;
}

.button-compare {
  background-color: #bdd2ff;
  margin: 0 auto;
  margin-top: 6px;
  font-family: monospace;
  width: 180px;
  font-size: 16px;
  color: #2637bf;
  margin-bottom: 10px;
}

.button-compare>a:hover {
  color: white;
  text-decoration: none;
  background-color: #551a8b;
}

.button-compare>a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px 20px;
}

.text-add-to-bookmarks {
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
  margin-bottom: 5px;
  height: 28px;
}

.add-to-favorites {
  width: 160px;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}

.add-to-bookmarks:hover {
  fill: #a33;
}

.text-add-to-favorites:hover {
  border-top: solid #a33 1px;
  padding-top: 4px;
}

#svg-like {
  padding-top: 5px;
}
/* end card style */

.paginator {
  width: 425px;
  margin: auto;
  margin-top: 40px;
}


/* Login/Register */

.panel {
  position: absolute;
  top: 20px;
  right: 70px;
}

.count-favorites {
  display: inline-block;
  padding-right: 20px;
}

.in, .out {
  color: #2b3cac;
  fill: #2b3cac;
  text-decoration: none;
}

.in:hover, .out:hover {
  text-decoration: none;
  color: #551a8b;
  fill: #551a8b;
}

.in span {
  font-size: 18px;
  padding-left: 5px;
}

#key {
  vertical-align: middle;
}

.favorites {
  vertical-align: top;
}

.favorites:hover {
  fill: #a33;
  text-decoration: none;
}

.out:hover {
  fill: black;
}

#svg-favorites {
  fill: #a33;
}

#svg-favorites:hover {
  fill: black;
}
/* pop-up */

.pop-up {
  display: none;
}

.overlay-pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(43, 60, 172, 0.5);
}

.pop-up-block {
  z-index: 11;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  background-color: #ccc;
  padding-bottom: 10px;
}

.text-in {
  color: white;
  background-color: #7386d5;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px;
}

.not_yet_registered {
  display: inline-block;
}

.button_registration {
  color: #068ae7;
}

.button_registration:hover {
  text-decoration: underline;
  color: #0656b8;
  cursor: pointer;
}

.registration {
  margin-top: -8%;
  display: none;
}

.form-group {
  padding-left: 20px;
  margin-bottom: 0 !important;
}
/* end pop-up */

/* End Login/Register */


.thanks-for-registration {
  text-align: center;
  color: green;
  font-size: 30px;
  height: 150px;
  padding: 0 20px;
  margin-top: 50px;
}

.delete-favorite {
  display: inline-block;
  margin-left: 25px;
  fill: #e5929e;
}

.delete-favorite:hover {
  cursor: pointer;
  fill: red;
}


/* Product Detail */

.product {
  margin-top: 40px;
}

.product .images {
  width: 450px;
  display: inline-block;
}

.product .price {
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 20px;
  color: #551a8b;
}

.product .container {
  display: flex;
  justify-content: space-between;
}

.product .sources_products {

}

.reviews-offers {
  width: 100%;
  max-width: 600px;
  margin-top: 25px;
  margin-left: 20px;
}

.reviews-offers>div:nth-child(1)>a {
  display: inline-block;
  width: calc(100% / 2);
  text-align: center;
  font-size: 18px;
  color: #2b3cac;
  background-color: #ccc;
  padding: 10px;
  text-transform: uppercase;
}

.reviews-offers>div:nth-child(1)>a.reviews-offers-activate {
  color: #ccc;
  background-color: #551a8b;
  text-decoration: none;
}

.reviews-offers>div>a:hover{
  color: #ccc;
  background-color: #551a8b;
  text-decoration: none;
}

.reviews-offers>div:nth-child(1) {
  border-bottom: 4px solid #551a8b;
}

.offer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ccc;
}

.offer>*{
  padding: 25px;
}

.offer>a:first-child {
  flex-grow: 2;
  text-align: center;
}

.reviews-offers>div>a:nth-child(2) {
  border-left: 4px solid #551a8b;
  margin-left: -5px;
}

.non-activated {
  pointer-events: none;
  text-decoration: none;
  cursor: default;
  color: #ccc;
}

.source-review {

}

.activate:hover {
  background-color: #551a8b;
  color: white;
  cursor: pointer;
}

.review, .source-review {
  margin-top: 20px;
  border: 2px solid #551a8b;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
}

.features {
  margin-top: 25px;
  max-width: 500px;
}

.text-features {
  font-size: 20px;
  font-weight: bold;
}

.description {
  padding: 0 15px;
}

.text-description {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

#send-review {
  margin-top: 30px;
}

#send-review>.form-group {
  padding-left: 0;
}

#send-review>.form-group>label {
  padding-left: 8px;
}

/* End Product Detail */


/* footer */

footer {
  background-color: #551a8b;
  margin-top: 60px;
}

.text-created {
  padding: 30px 0;
  color: white;
}

.text-created>p {
  margin: 0;
}

/* end footer */
