<template>
    <div id="main">
        <router-view></router-view>
    </div>
</template>

<script type="text/javascript">
    export default {
        name: "app",
        data: () => {
            return {
                message: "HELLO"
            }
        },
        methods: {
            scalePiechart: function (event) {
                console.log("hello");
        		if (!this.menuScaled) {
        			console.log("THERE");
					event.target.style.transform = "scale(2)";
					this.menuScaled = true;
				}
            }
        }
    }
</script>

<style>
    #hello {
        color: navy;
    }
</style>