<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spiders</title>
  <style>
    .spider_block {
      border: 2px solid black;
      width: 400px;
      margin-bottom: 30px;
      padding: 15px;
    }
    .buttons {
      display: flex;
    }
    .buttons>input {
      margin: 20px 0;
    }
    .buttons>input:first-child {
      margin-right: 20px;
    }
    form>input:nth-child(2) {
      width: 350px;
    }
    h4 {
      display: inline-block;
    }
    .status {
      color: green;
    }
    .error {
      color: red;
    }
  </style>
</head>

<body>
    <h2 class="status">{{ status }}</h2>
    <h2 class="error">{{ error }}</h2>
    {% for spider in spiders %}
      <div class="spider_block">
        <h4>Spider: {{ spider.name }} &nbsp; &nbsp; &nbsp; &nbsp;</h4>
        <span>is activate: {{ spider.activate }}</span>
        {% if current_spider.name == spider.name %}
          <div class="status">{{ current_spider.status }}</div>
          <div class="error">{{ current_spider.error }}</div>
        {% endif %}
        <p style="font-size: 14px">You can input multi url, just split it with ";"</p>

        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="spider_name" value="{{ spider.name }}">
          <input type="url" name="urls">

          <div class="buttons">
            <input type="submit" name="action" value="stop" {% if not spider.activate %} disabled {% endif %}>
            <input type="submit" name="action" value="start" {% if spider.activate %} disabled {% endif %}>
          </div>

          <p style="font-size: 14px; margin: 0;">Disble or Enable Main Periodic Task</p>

          <div class="buttons">
            <input type="submit" name="action" value="disable">
            <input type="submit" name="action" value="enable">
          </div>

        </form>

      </div>
    {% endfor %}
</body>

</html>
