{% if not filters %}
  <div class="card-container" style="width: 976px;">
{% else %}
  <div class="card-container">
{% endif %}
  {% for product, images, prices in products %}
  {% if not filters %}
    <div class="card" style="margin: 12px;">
  {% else %}
    <div class="card">
  {% endif %}
      <p class="title"><a href="{% url 'products:product_detail' product.id %}">{{ product.name|truncatechars:50 }}</a></p>
      <div class="images">
      {% for url in images %}
        <img src="{{ url }}" alt="image">
      {% endfor %}
      </div>
      <div class="prices">
        <span>Price: {{ prices.0 }}&ndash;{{ prices.1 }} UAH</span>
      </div>
      <a href="{% url 'products:product_detail' product.id %}#all-offers" class="all-offers">all offers ({{ product.source_products.count }})</a>
      <div class="button-compare">
        <a href="{% url 'products:product_detail' product.id %}">Compare prices</a>
      </div>
      {% if request.user.is_authenticated %}
        <div class="add-to-bookmarks">
          <svg id="svg-like" viewBox="0 0 26 22" width="20px" height="23px">
            <path type="path" fill-rule="nonzero" stoke-width="10" stoke="#a33" d="M13.049,21.985c-0.029,0-0.067,0-0.098,0c-0.12,0-0.234-0.02-0.341-0.056 c-0.219-0.047-0.422-0.128-0.604-0.24C5.15,17.512,1.034,11.905,1,6.691C0.995,4.794,1.621,3.095,2.763,1.902 c1.174-1.24,2.881-1.951,4.845-1.916c2.559-0.015,4.335,1.622,5.393,3.096c1.06-1.474,2.792-3.101,5.407-3.095 c1.982,0.014,3.653,0.675,4.832,1.917C24.38,3.096,25.005,4.795,25,6.688c-0.034,5.216-4.15,10.824-11.013,15.005 c-0.18,0.112-0.386,0.192-0.608,0.238C13.275,21.966,13.164,21.985,13.049,21.985z M12.777,19.824L12.777,19.824L12.777,19.824z M7.596,2.164c-1.362,0-2.524,0.444-3.288,1.251c-0.765,0.798-1.164,1.926-1.16,3.267c0.022,3.412,2.627,8.633,9.86,13.077 c7.208-4.423,9.823-9.658,9.845-13.08c0.003-1.337-0.396-2.465-1.156-3.258c-0.001-0.002-0.002-0.003-0.004-0.005 c-0.763-0.807-1.925-1.251-3.273-1.251c-0.017,0.001-0.04,0-0.06,0c-2.303,0-3.713,2.119-4.366,3.435 c-0.16,0.405-0.543,0.704-0.989,0.705c-0.001,0-0.003,0-0.004,0c-0.511,0-0.94-0.335-1.048-0.814 c-0.675-1.32-2.069-3.327-4.297-3.327C7.637,2.163,7.616,2.164,7.596,2.164z">
            </path>
          </svg>
          <span class="add-to-favorites" id="{{ product.id }}">Add to bookmarks</span>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
