{% extends "products/index.html" %}
{% load custom_filters %}

{% block head %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block filters %}
<script type="text/javascript">
  $(function() {
    $("#slider-range").slider({
      range: true,
      min: {{ filter.min_price }},
      max:{{ filter.max_price }},
      {% if filters_bound.prices %}
        values: [{{ filters_bound.prices.0 }}, {{ filters_bound.prices.1 }}],
      {% else %}
        values: [{{ filter.min_price }}, {{ filter.max_price }}],
      {% endif %}
      slide: function(event, ui) {
        $("#amount").val(ui.values[0] + " -" + ui.values[1]);
      }
    });
    $("#amount").val($("#slider-range").slider("values", 0) +
      " - " + $("#slider-range").slider("values", 1));

    // for normal height column with filters
    let max_height = $(".card-container").height() - 180;
    $(".filter-container").css("max-height", max_height.toString() + "px");

    // for disabled another checkboxes
    // let checked_checkboxes = $("li>input[type='checkbox']:checked").parent().siblings().
    //                            find("input[type='checkbox']:not(:checked)").attr("disabled", true);
    // $(document).on("click", "li>input[type='checkbox']", function (){
    //   let ul = $(this).parent().parent();
    //   let li = ul.find("li");
    //   if (!$(this).prop("checked")) {
    //     li.find("input[type='checkbox']").attr("disabled", false);
    //   }
    //   else {
    //     li.find("input[type='checkbox']").attr("disabled", true);
    //     $(this).attr("disabled", false);
    //   }
    // });
  });
</script>

<div class="filters">
  <div class="filters-head">
    <h3>
      <svg id="Capa_1" enable-background="new 0 0 512 512" height="40" viewBox="0 0 512 512" width="40" xmlns="http://www.w3.org/2000/svg"><path d="m467 332c-8.284 0-15-6.716-15-15v-212c0-24.813-20.187-45-45-45h-212c-8.284 0-15-6.716-15-15s6.716-15 15-15h212c41.355 0 75 33.645 75 75v212c0 8.284-6.716 15-15 15z" fill="#4bb9ec"/><path d="m497 302h-60c-8.284 0-15 6.716-15 15v60c0 8.284 6.716 15 15 15h60c8.284 0 15-6.716 15-15v-60c0-8.284-6.716-15-15-15z" fill="#cdf"/><path d="m268.42 490.29h-206.84l30-60c2.54-5.08 7.74-8.29 13.42-8.29h120c5.68 0 10.88 3.21 13.42 8.29z" fill="#596c76"/><path d="m268.42 490.29h-103.42v-68.29h60c5.68 0 10.88 3.21 13.42 8.29z" fill="#465a61"/><path d="m210 45v60c0 8.28-6.72 15-15 15h-60c-8.28 0-15-6.72-15-15v-60c0-24.81 20.19-45 45-45s45 20.19 45 45z" fill="#4a696f"/><path d="m210 45v60c0 8.28-6.72 15-15 15h-30v-120c24.81 0 45 20.19 45 45z" fill="#596c76"/><path d="m512 377v120h-182v-120c0-8.28 6.72-15 15-15h152c8.28 0 15 6.72 15 15z" fill="#465a61"/><path d="m512 497c0 8.28-6.72 15-15 15h-482c-8.28 0-15-6.72-15-15s6.72-15 15-15h482c8.28 0 15 6.72 15 15z" fill="#4a696f"/><path d="m512 497c0 8.28-6.72 15-15 15h-332v-30h332c8.28 0 15 6.72 15 15z" fill="#596c76"/><path d="m300 287v90c0 41.36-33.65 75-75 75h-120c-41.35 0-75-33.64-75-75v-90c0-8.28 6.72-15 15-15h240c8.28 0 15 6.72 15 15z" fill="#4bb9ec"/><path d="m300 287v90c0 41.36-33.65 75-75 75h-60v-180h120c8.28 0 15 6.72 15 15z" fill="#0095ff"/><path d="m300 165v62c0 8.28-6.72 15-15 15h-240c-8.28 0-15-6.72-15-15v-62c0-41.36 33.65-75 75-75h120c41.35 0 75 33.64 75 75z" fill="#4bb9ec"/><path d="m225 90h-60v152h120c8.28 0 15-6.72 15-15v-62c0-41.36-33.65-75-75-75z" fill="#0095ff"/><path d="m285 212h-240c-24.81 0-45 20.19-45 45s20.19 45 45 45h240c24.81 0 45-20.19 45-45s-20.19-45-45-45z" fill="#76e2f8"/><path d="m330 257c0 24.81-20.19 45-45 45h-120v-90h120c24.81 0 45 20.19 45 45z" fill="#4bb9ec"/>
      </svg>
      Filters
    </h3>
    <p>Selected products <b>{{ filter.count_filter_products }}</b> from <b>{{ filter.total_count_product }}</b></p>
  </div>
  <div class="filter-container">
    <form action="" method="GET">
      <input type="hidden" name="filters" value="ok">
      <p style="margin-bottom: 5px;">
        <label for="amount">Price range:</label>
        <input type="text" name="prices" id="amount" readonly style="width: 199px;border:0; color:#4bb9ec; font-weight:bold;">
      </p>
      <div id="slider-range"></div>
      {% for feature, value in filter.features.items %}
        <p><b>{{ feature }}</b></p>
        <ul>
        {% for val in value %}
          <li>
            <input type="checkbox" name="{{ feature }}" value="{{ val }}"{% if val in filters_bound|key_value:feature %} checked {% endif %}> <span>{{val}}</span>
          </li>
        {% endfor %}
        </ul>
      {% endfor %}
  </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" id="btn-filter">Filter</button>
    </div>
  </form>

</div>
{% endblock %}
