{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
    // In a perfect world, this would be its own library file that got included
    // on the page and only the ``$(document).ready(...)`` below would be present.
    // But this is an example.
    var Autocomplete = function(options) {
      this.form_selector = options.form_selector
      this.url = options.url || '/search/autocomplete/'
      this.delay = parseInt(options.delay || 300)
      this.minimum_length = parseInt(options.minimum_length || 3)
      this.form_elem = null
      this.query_box = null
    }

    Autocomplete.prototype.setup = function() {
      var self = this

      this.form_elem = $(this.form_selector)
      this.query_box = this.form_elem.find('input[name=q]')

      // Watch the input box.
      this.query_box.on('keyup', function() {
        var query = self.query_box.val()
          console.log("HEERRE: ", query);

        if(query.length < self.minimum_length) {
          return false
        }

        self.fetch(query)
      })

      // On selecting a result, populate the search field.
      this.form_elem.on('click', '.ac-result', function(ev) {
        self.query_box.val($(this).text())
        $('.ac-results').remove()
        return false
      })
    }

    Autocomplete.prototype.fetch = function(query) {
      var self = this;
      if (query.length >= this.minimum_length) {

          $.ajax({
              url: this.url
              , data: {
                  'q': query
              }
              , success: function (data) {
                  self.show_results(data);
              }
          })
      }
      else self.show_results("");
    }

    Autocomplete.prototype.show_results = function(data) {
      // Remove any existing results.
      $('.ac-results').remove()

      var results = data.results || []
      var results_wrapper = $('<div class="ac-results"></div>')
      var base_elem = $('<div class="result-wrapper"><a href="#" class="ac-result"></a></div>')

      if(results.length > 0) {
        for(var res_offset in results) {
          var elem = base_elem.clone();
          let href = "/detail/" + results[res_offset]["id"];
          elem.find(".ac-result").attr("href", href);
          // Don't use .html(...) here, as you open yourself to XSS.
          // Really, you should use some form of templating.
          elem.find('.ac-result').text(results[res_offset]["name"]);
          console.log(results[res_offset]);
          results_wrapper.append(elem);
          let suggest = document.getElementById("suggestion");
          suggest.innerHTML = results_wrapper.prop('outerHTML');
        }
      }
      else {
        var elem = base_elem.clone()
        elem.text("No results found.")
        results_wrapper.append(elem)
      }

      this.query_box.after(results_wrapper)
    }

    $(document).ready(function() {
      window.autocomplete = new Autocomplete({
        form_selector: '.autocomplete-me',
        minimum_length: 3
      })
      window.autocomplete.setup()

      kinput = document.getElementById("search");
      kinput.onkeyup = presskeyHandle;

      function presskeyHandle(e) {
          window.autocomplete.fetch(kinput.value);
        }
    })


  </script>
{% endblock %}

{% block header %}
<div class="search-form">
  <form action="{% url 'products:search' %}" method="GET">
      <input type="text" name="q" id="search" class="autocomplete-me" autocomplete="off">
      <button type="submit">GO</button>
      <div id="suggestion"></div>
  </form>
</div>

<div class="categories">
  <ul class="sf-menu">
    {% for category in categories %}
      {% include "categories/category.html" with category=category childrens=category.get_descendants %}
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block content %}
    {% if breadcrumb %}
      {% include "categories/breadcrumb.html" %}
    {% endif %}

    <div class="filters-products">
        {% block filters %}
        {% endblock %}
        {% if products %}
          {% include "products/cards.html" with products=products images=images %}
        {% elif not_found %}
          <div class="card-container">
            <p class="not-found-products">NOT FOUND :(</p>
          </div>
        {% else %}
          <p class="text-choose-category">Choose category or type in search-form</p>
        {% endif %}
    </div>

    <!--Paginator -->
    {% if is_paginator %}
      <nav aria-label="..." class="paginator">
        <ul class="pagination" style="padding-left: 40px;">
          <li class="page-item {% if not prev_url %} disabled {% endif %}">
            <a class="page-link" href="{{ prev_url }}" tabindex="-1">Предыдущая</a>
          </li>

          {% for n in page.paginator.page_range %}
            {% if page.number == n %}
              <li class="page-item active">
                <a class="page-link" href="?page={{ n }}&q={{ request.GET.q }}">{{ n }}<span class="sr-only">(current)</span></a>
              </li>

            {% elif n > page.number|add:-3 and n < page.number|add:3 %}
              <li class="page-item"><a class="page-link" href="?page={{ n }}&q={{ request.GET.q }}">{{ n }}</a></li>
            {% endif %}
          {% endfor %}

          <li class="page-item {% if not next_url %} disabled {% endif %}">
            <a class="page-link" href="{{ next_url }}">Следующая</a>
          </li>
        </ul>
      </nav>
    {% endif %}
  <!-- end Paginator  -->
  <form action="" method="POST">{% csrf_token %}</form>
{% endblock %}
