{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <script type="text/javascript" src="{% static 'plotly.min.js' %}"></script>
  {% include 'products/average_price_graph.html' with product=product %}
{% endblock %}

{% block content %}
  {% include "categories/breadcrumb.html" %}
  <div class="product">
    <p class="product_name">{{ product.name }}</p>
    <div class="container">
      <div>
        <div class="images" >
          {% for url in images %}
            <img src="{{ url }}" alt="image">
          {% endfor %}
        </div>
        <p class="price">Price: {{ price.0 }}&ndash;{{ price.1 }} UAH</p>
        <p class="text-muted text-center" style="margin-top: 5px;" id="rating" denominator={{ product.rating_products.count }}>Rating: <span>{{ product.rating }}</span></p>
        {% if rating_input %}
          <form action="{% url 'products:rating' %}" method="POST" id="form-rating">
            {% csrf_token %}
            <div class="text-center">
              {{ rating_input }}
            </div>
          </form>
        {% endif %}
      </div>

      <div class="chart-container">
        <p class="text-center">Average Prices</p>
        <div id="chart_1">

        </div>
      </div>
    </div>

    {% if product.description|length > 10 %}
      <div class="description">
        <p class="text-description">Description:</p>
        {{ product.description|safe }}
      </div>
    {% endif %}

    <div class="container">
      <div class="features">
        <p class="text-features">Features</p>
          <table>
            {% for feature in product.features.all %}
              <tr>
                <td class="feature_name">{{ feature.feature }}</td>
                <td class="value_name" >{{ feature.value }}</td>
              </tr>
            {% endfor %}
          </table>
      </div>

      <div class="reviews-offers">
        <div>
          <a href="" id="offers" class="reviews-offers-activate">Offers</a>
          <a href="" id=reviews>Reviews</a>
        </div>

        {% for source_product, pretty_price in source_products_n_pretty_price %}
        <div class="offer">
          <a href="{{ source_product.url_in_store }}">{{ source_product.store.name }}</a>
          <span>{{ pretty_price }} UAH</span>
          {% if source_product.reviews_source.exists %}
            <a href="{{ source_product.store.name }}" class="btn-source-reviews activate ">Reviews</a>
          {% else %}
            <a class="btn-source-reviews non-activated">Reviews</a>
          {% endif %}
        </div>

        <div class="source-review-container">
          {% for review_source in source_product.reviews_source.all %}
            <div class="source-review {{ source_product.store.name }}" style="display: none;">
              <p class="name">Name: {{ review_source.user }}</p>
              <p class="advantages">Advantages: {{ review_source.advantages }}</p>
              <p class="disadvantages">Disadvantages: {{ review_source.disadvantages }}</p>
              <p class="text">{{ review_source.text }}</p>
              <p class="date">{{ review_source.date }}</p>
            </div>
          {% endfor %}
          </div>
        {% endfor %}

        <div class="reviews" style="display: none;">
          {% with product_reviews=product.reviews.all  %}
          {% if not product_reviews %}
            <p class="text-muted" style="text-align: center; font-size: 28px; margin-top: 20px;">None reviews :(</p>
          {% endif %}
          {% for review in product_reviews %}
            <div class="review">
              <p class="name">Name: {{ review.user.username }}</p>
              <p class="advantages">Advantages: {{ review.advantages }}</p>
              <p class="disadvantages">Disadvantages: {{ review.disadvantages }}</p>
              <p class="text">{{ review.text|linebreaks }}</p>
              <p class="date">{{ review.date }}</p>
            </div>
          {% endfor %}
          {% endwith %}

          {% if request.user.is_authenticated %}
            <form action="{% url 'review-list' %}" method="POST" id="send-review">
              {% csrf_token %}

              <input type="hidden" value="{{ product.id }}" name="product" id="review-product">
              <input type="hidden" value={{ request.user.username }} name="username" id="review-username">
              <div class="alert-danger errors"></div>
              <div class="form-group row">
                <label for="review-advantages" class="col-lg-2 col-form-label">Advantages:</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" placeholder="type advantages..." id="review-advantages" name="advantages"><br>
                </div>
              </div>

              <div class="form-group row">
                <label for="review-disadvantages" class="col-lg-2 col-form-label">Disadvantages:</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" placeholder="type disadvantages..." id="review-disadvantages" name="disadvantages"><br>
                </div>
              </div>

              <div class="form-group row">
                <label for="review-text" class="col-lg-2 col-form-label">Review:</label>
                <div class="col-lg-10">
                  <textarea class="form-control" resize="none" rows="5" placeholder="please type your review..." id="review-text" name="text" style="resize: none;"></textarea>
                </div>
              </div>

              <div style="margin: 20px 0" class="text-center">
                <button type="submit" class="btn btn-primary" id="btn-send-review">Enter</button>
              </div>

            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
