<template>
    <div id="index-page">
        <category-menu></category-menu>
    </div>
</template>

<script>
    import CategoryMenu from "../components/category_menu.vue";

    export default {
        name: "index-page",
        components: {
            "category-menu": CategoryMenu
        }
    }
</script>